html {
    font-size: 62.5%;
}

/* * {
    border: 2px solid tomato;
} */

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: hsl(0, 0%, 10%);
    color: hsl(0, 0%, 100%);
    font-family: Poppins, Inter, Roboto, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.6rem;
}

.icon-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 1rem;
}

header h1 {
    margin-left: -1rem;
}

header #icon {
    margin: 0 2rem;
}

header a {
    text-decoration: none;
    color: inherit;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 400;
}

hr {
    border-color: hsl(0, 0%, 50%);
}

@media only screen and (max-width: 780px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-and-title {
        position: relative;
        right: 15px;
    }

    nav {
        justify-content: center;
        flex: 0;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    nav a:last-child {
        display: block;
        text-align: center;
        margin-top: 1rem;
    }
}
