html {
    font-size: 62.5%;
}

/* * {
    border: 2px solid tomato;
} */

:root {
    --background-color: hsl(0, 0%, 10%);
    --shodow-color: hsl(0, 0%, 5%);
    --border-color: hsl(0, 0%, 15%);
    --text-color: hsl(0, 0%, 100%);
}

body {
    margin: 0;
    padding: 0;
    padding-bottom: 5rem;
    box-sizing: border-box;
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Poppins, Inter, Roboto, sans-serif;
    overflow-x: hidden;
    overflow-y: auto;
    font-size: 1.6rem;
}

section {
    margin: 2rem 0;
}

.icon-and-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

header {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding-top: 1rem;
}

header h1 {
    margin-left: -1rem;
}

header #icon {
    margin: 0 2rem;
}

header a {
    text-decoration: none;
    color: inherit;
    padding: 0 2rem;
    font-size: 1.8rem;
    font-weight: 400;
}

hr {
    border-color: var(--border-color);
}

.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.img-container {
    background-color: var(--border-color);
    width: calc(70vw - 4rem);
    height: 40rem;
    text-align: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem 5rem;
    overflow: hidden;
    position: relative;
    margin: 0 3rem;
}

.img-container .track {
    position: absolute;
    max-width: 100%;
    height: 80%;
    margin: 0;
    display: flex;
    justify-content: flex-start;
    gap: 5rem;
}

.img-container img {
    animation: scroll 10s linear infinite;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/10;
    border-radius: 5px;
    filter: grayscale(100%);
    border: 7px solid var(--shodow-color);
}

@keyframes scroll {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(calc(-300% - 15rem));
    }
}

.video-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.video-section .video-container {
    background-color: var(--border-color);
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    overflow: hidden;
    margin: 0 3rem;
}

.video-section #video {
    border-radius: 5px;
    max-width: 100%;
}

.video-section h2 {
    padding: 0 2rem;
    text-align: center;
}

@media only screen and (max-width: 780px) {
    header {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .icon-and-title {
        position: relative;
        right: 15px;
    }

    nav {
        justify-content: center;
        flex: 0;
        margin-top: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    nav a {
        display: block;
        text-align: center;
        margin: 1.5rem 0;
    }
    #hero-header {
        display: block;
        text-align: center;
        margin: 0 2rem;
    }
    .video-section h2 {
        display: block;
        text-align: center;
    }
}
